/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body{
    font: 16px/28px arial, sans-serif;
    background-image: url(../img/bg2.png);
    background-color: rgba(189, 184, 189, 0.667);
    color: #333;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: lightskyblue;
    border-bottom: 3px solid salmon;
    z-index: 9999;
}

.container{
    width: 960px;
    margin: auto;
    background-color: #fff;
    margin-top: 40px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header{
    padding: 20px 0 0 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: skyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero{
    height: 350px;
    background-image: url(../img/hero1.jpg);
    background-size: cover;
    background-position: 0 -90px;
    border-bottom: 5px solid skyblue;
    border-top: 5px solid salmon;
}

.main{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    background-color: Gainsboro; 
}

.main h2{
    font-size: 28px;
    font-weight: bold;
}

.main .penulis{
    font-size: 12px;
    margin-top: -5px;
    text-decoration: none;
}

.main .penulis a{
    color: salmon;
    text-decoration: none;
}

.main p{
    margin-bottom: 20px;
    font-size: 13px;
    text-align: justify;
}

/* sidebar */
.sidebar {
    width: 330px;
    padding: 10px;
    background-color: Gainsboro;
    float: right;
}

.sidebar h3{
    font-family: roboto, san-serif, calibri;
    font-size: 24px;
    font-weight: bold;
}

.sidebar a{        
    text-decoration: none;
    color: blueviolet;
    display: block;
    font-size: 14px;
}

.link li a{
text-align: left;
margin-top: 12px;
}

.footer{
    background-color: rgb(73, 68, 68);
    padding: 5px;
}

.footer .copy{
    font-size: 12px;
    color: white;
    text-align: center;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}